---
title: Social Icons
---

<ul class="l-list-clean l-list-inline">
    <li>
        <span class="icon icon-social-email"></span>
    </li>
    <li>
        <span class="icon icon-social-facebook"></span>
    </li>
    <li>
        <span class="icon icon-social-facebook-dark"></span>
    </li>
    <li>
        <span class="icon icon-social-gplus-dark"></span>
    </li>
    <li>
        <span class="icon icon-social-instagram-dark"></span>
    </li>
    <li>
        <span class="icon icon-social-pinterest-dark"></span>
    </li>
    <li>
        <span class="icon icon-social-twitter"></span>
    </li>
    <li>
        <span class="icon icon-social-twitter-dark"></span>
    </li>
    <li>
        <span class="icon icon-social-youtube-dark"></span>
    </li>
</ul>
