---
title: Mosaic Item
categories:
- components
sub: preview
---
<div class="mosaic-item">
    <div class="mosaic-content"></div>
    <div class="mosaic-media">
        <img src="imgs/mosaic/image1.jpg" alt="" width="100%"/>
    </div>
</div>

