---
title: Responsive Images
note: note-responsive-images
categories:
- components
sub: images
---


<div class="responsive-image" data-picture="" data-alt="" >
    <div data-src="imgs/responsiveimages/default.jpg" data-media="(min-width: 1px)"></div>
    <div data-src="imgs/responsiveimages/sm.jpg" data-media="(min-width: 481px)"></div>
    <div data-src="imgs/responsiveimages/md.jpg" data-media="(min-width: 769px)"></div>
    <div data-src="imgs/responsiveimages/lg.jpg" data-media="(min-width: 993px)"></div>

    <noscript>
        <img src='/content/australia/en/_jcr_content/mainparsys/adaptiveimage.img.320.low.jpg/1392330782872.jpg' alt=''>
    </noscript>
</div>