---
title: Sample
layout: layout-article.hbs
---


<div class="row">
    <div class="col-xs-6">
        {{> mosaic}}
    </div>
    <div class="col-xs-6">
        {{> blockquote}}
    </div>
</div>


