<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="google-translate-customization" content="a0a70fd18b5016fc-a2c8056b2d933ad9-g05e9869b7450c97e-a"></meta>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styleguide.css" />
    <link rel="stylesheet" href="css/screen.css" />


    {{> importsheader}}

</head>
<body>


<div class="sg-main">
    <!-- Translation element -->
    <div class="sg-pattern sg-pattern-element">
        {{> sg-translator}}
    </div>
    <!-- End. Translation element -->
    <div id="patterns">
         {{section this.basename}}
    </div>
</div>


<script type="text/javascript" src="js/vendor/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/vendor/jquery.snippet.js"></script>
<script type="text/javascript" src="js/src/init.js"></script>

{{> importsfooter}}


<script>
    $(".sg-code").snippet("html", { style: "matlab"});      //Initiate jquery snippet
</script>



</body>
</html>