/**
* Global variables for entire site / including bootstrap
*/


//Bootstrap
$font-size-base: 16px;

//Breakpoints
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;


//Border radius
$border-radius-base:             0px;
$border-radius-large:            0px;
$border-radius-small:            0px;


//Buttons
$btn-default-color:              #fff;
$btn-default-bg:                 #66acbd;
$btn-default-border:             rgba(0,0,0,0);

$btn-primary-color:              #fff;
$btn-primary-bg:                 #007491;
$btn-primary-border:             rgba(0,0,0,0);

$btn-success-color:             #fff;
$btn-success-bg:                #cf4330;
$btn-success-border:            rgba(0,0,0,0);

$btn-info-color:                 #000000;
$btn-info-bg:                    #fff;
$btn-info-border:                #d4d2b9;


$padding-base-vertical:          13px;
$padding-base-horizontal:        25px;



  //Site
$font-family-base: "ProximaNova Regular", Helvetica, Arial, sans-serif;
$font-family-primary: "TheSanB5Pla", Helvetica, Arial, sans-serif;
$font-family-secondary: "TAheadline", Helvetica, Arial, sans-serif;
$font-family-feature: "Mission Gothic Light Italic", Helvetica, Arial, sans-serif;

$font-family-lead: "ProximaNova Semi Bold Italic", Helvetica, Arial, sans-serif;
$font-family-quote-social: "ProximaNova Semi Bold Italic", Helvetica, Arial, sans-serif;




$font-family-quote-pull: "ProximaNova Light", Helvetica, Arial, sans-serif;

//**********************
// Nav bar
//**********************
$navbar-height: 82px;

//**********************
// Text Colours:
//**********************
$type-navigation: #ffffff;
$type-quote-pull-bg: #00545d;

//*********************
// Block Element Colours:
//*********************
$colour-navigation-solid: #15202e;
$colour-navigation: rgba(21, 32, 46, 0.9);
$colour-footer: #0a334c;
$colour-content-section-light: #ffffff;
$colour-content-section-dark: #f6f5f0;